/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
purescript/.cache/
purescript/.psci_modules/
purescript/.psc-package/
purescript/.pulp-cache/
purescript/.purs-repl
purescript/.spago/
purescript/.local/
purescript/output/
purescript/server/
purescript/dist/
build/
gradle/
.gradle/
.idea/
elm/elm-stuff/
elm/node_modules/
elm/package-lock.json
elm/*.js
elm/selected
*.swp

